
Sort/.vs/Sort/v15/Browse.VC.opendb
Sort/.vs/Algorithms/v15/.suo
Sort/.vs/Algorithms/v15/Solution.VC.db
Sort/.vs/Algorithms/v15/Solution.VC.db-shm
Sort/.vs/Algorithms/v15/Solution.VC.db-wal
Sort/.vs/Sort/v15/Browse.VC.db
